<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<br>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<br>
<input type="text" [value]="name"/>
<br>
<input type="text" [value]="person.name"/>
<br>
<progress max="100" [value]="age"></progress>
<br>
<progress max="100" [value]="person.age"></progress>
<br>
<img width="100" [src]="img" />
<br>
<img width="100" [src]="person.avatar" />
<hr/>
<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt="image">
