<h1>Estilos a la lista de productos</h1>
<h2>*ngFor Objs</h2>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr>
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Dario'">
    La persona es Dario
  </p>
  <p *ngSwitchCase="'Julian'">
    La persona es Julian
  </p>
  <p *ngSwitchCase="'Camilo'">
    La persona es Camilo
  </p>
  <p *ngSwitchDefault>
    No hace match
  </p>
</div>
<!-- <p *ngIf="person.name === 'Dario'">
  La persona es Dario
</p>
<p *ngIf="person.name === 'Julian'">
  La persona es Julian
</p>
<p *ngIf="person.name === 'Camilo'">
  La persona es Camilo
</p> -->
<hr>
<h1>*ngFor Objs</h1>
<div>
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name"/>
<p *ngIf="person.name === 'Dario'">Soy Dario</p>
<p *ngIf="person.name === 'Julian' && person.age === 18; else elseBlock">Soy Julian</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<hr>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{ nameInput.valid }}</p>
<br>
<p>Age {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid: {{ ageInput.valid }}</p>
<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<br>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<br>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quae alias ratione ipsa sint? Autem ad aperiam, adipisci fuga, mollitia totam dicta voluptatibus, soluta id et ipsa eaque illo dolores.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ea vitae quas autem beatae ipsam tempora, ratione nobis, unde in distinctio commodi cum eligendi excepturi architecto modi temporibus atque molestias?
  Maiores necessitatibus totam, amet quia cumque distinctio temporibus vero, quasi porro harum voluptatem! Natus atque facilis, molestias, nulla quia fuga soluta autem excepturi blanditiis assumenda, est molestiae et praesentium ad.
  Delectus, itaque mollitia expedita cum aliquam quae temporibus veniam odit, repudiandae soluta ullam provident, veritatis distinctio corrupti. Ducimus consectetur magni repellendus, eius, obcaecati excepturi sunt veritatis id mollitia totam pariatur!
  </p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>
<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<br>
<input type="text" [value]="name"/>
<br>
<input type="text" [value]="person.name"/>
<br>
<progress max="100" [value]="age"></progress>
<br>
<progress max="100" [value]="person.age"></progress>
<br>
<img width="100" [src]="img" />
<br>
<img width="100" [src]="person.avatar" />
<hr/>
<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img width="100" src={{img}} alt="image">
